*{
    box-sizing: border-box;
}

body
{
    background: linear-gradient(to right, rgb(160, 160, 160), rgba(0, 0, 0, 0.726));

    line-height: 1.3;/* hauteur de ligne*/
    margin-left: auto;
    margin-right: auto;
}

header
{
    /*position: fixed;  pour que la bannière ne bouge jamais */

    margin-bottom: 2em;
    margin-top: 2em;
}

header .logo
{
    width:  100%;
    height: auto;
}

header video
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.SnowMessage
{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.Bouton
{
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 30px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;

    font-size: 13px;
    text-transform: uppercase;
    font-family: "Robot", sans-serif;
}

.btn:hover
{
    background-color: whitesmoke;
    color: black;
}

.contenue{
    display: inline-block;
}


.DISTRICT-VOICES-PRES video{
    margin-left: 25%;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;   
}

.DISTRICT-VOICES h1{}


.DISTRICT-VOICES video
{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;

    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px
}

h1
{
    font-style: oblique;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Robot", sans-serif;
    color: goldenrod;
    text-align: center;
    text-decoration: underline;
    margin-top: 4%;
}

h2
{
    text-align: center;
}


p
{
    color: goldenrod;

    font-size: 20px;
    font-family: "Robot", sans-serif;
    color: rgb(32, 21, 0);
    text-align: justify;

    margin-left: 10%;
    margin-right: 10%;
}

footer
{
    display: flex;
    position: relative;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: flex-start;
    background-color: gray;
    justify-content: space-between;
    height: auto;
}


 
.bordure
{
 
  width: 100%;
 
}
 
.le_footer 
{
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    margin-right: auto;
    margin-left: auto;
}


 
.Panem 
{
 
    /*background-color: green;*/
    padding: 15px;
 
}
 
.Nous
{
    /*background-color: purple;*/
    padding: 15px;
}
 
.Services 
{
    /*background-color: red;*/
    padding: 15px;
}
 
.Contactez 
{
    /*background-color: yellow;*/
    padding: 15px;
}
 
.Panem,.Nous,.Services, .Contactez
{
    flex: 1; /* partage de largeur dispo par nombre de conteneurs*/
}
 
  
a
{
      text-decoration: none;
      color: black;
      text-align: center;
}


 
/* Pour les titres du footer */
.Panem h2
{
  text-align: center;
  color: black;
}
 
.Nous h2
{
  text-align: center;
  color: black;
}
 
.Services h2
{
  text-align: center;
  color: black;
}
 
.Contactez h2
{
  text-align: center;
  color: black;
}
 
/*Pour le texte*/
.Panem p
{
  text-align: center;
  font-size: 1.3em;
  color: black;
}


 
  
 
/*Pour la navigation de chaque colonne */
.Panem ul
{
  text-align: center;
  list-style: none;
  text-decoration: underline;
  font-size: 1.3em;
}

.Nous ul
{
  text-align: center;
  list-style: none;
  font-size: 1.3em;
}
 
.Services ul
{
  text-align: center;
  list-style: none;
  font-size: 1.3em;
 
}
 
.Contactez ul
{
  text-align: center;
  list-style: none;
  font-size: 1.3em;
 
}
  
 
/*Pour régler la taille des icônes */
 
.le_footer img
  
{
      
      flex: auto;
      width: 10%;
      height: auto;
}


 
/* La police pour "contactez-noous" */
.le_footer .Contactez ul
{
  font-size: 1.3em;
 
}
 
/*Pour le copyright */
 
.le_footer .fin 
{
  
  width: 100%;
  height: auto;
 
}
 
.fin .nom_site h1
{
  font-size: 2em;
  text-align: center;
  color: black;
}
 
.fin .copyright p
{
  font-size: 1em;
  text-align: center;
  color: black;
}
 
/* Pour adapter à l'écran*/
  
@media only screen and (max-width: 768px) 
{
    .Nous {
      width: 50%;
      order: 0;
    }
    .Panem {
      width: 50%;
      
    }
    .Services {
      width: 50%;
    }
 
    .Contactez
    {
      width: 50%;
    }
 
    .Panem,
    .Nous,
    .Services, .Contactez {
      flex: none;
    }
}