body
{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, grey, #003e46);
    font-family: sans-serif, serif;
    
}

header
{
    /*position: fixed;  pour que la bannière ne bouge jamais */
    background: linear-gradient(to right, grey, #003e46);
    margin-bottom: 20px;
}

header .logo
{
    width:  100%;
    height: auto;
}


.Bouton
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;

    font-size: 13px;
    text-transform: uppercase;
    font-family: "Robot", sans-serif;
}


.btn:hover
{
    background-color: whitesmoke;
    color: black;
}

.container
{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box
{
    position: relative;
    width: 300px;
    height: 400px;
    background: linear-gradient(to left,  grey, #4439e04d);
    box-shadow: 0 30px 30px rgba(0,0,0,.5);
    margin-bottom: 30px;
}

.box .imgBox
{
    position: absolute;
    top: 15px;
    left: 50px;
    width: 70%;
    height: 90%;
}

.box .imgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; 
}

.box:hover .imgBox img
{
    opacity: 0;
}

.box .content 
{
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    background: #fff;
    transition: 0.5s;
    overflow: hidden
    
    padding 15px;
    box-sizing: border-box;
}

.box:hover .content
{
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px;
}

.box .content h3
{
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-align: center;
    color:brown;

}

.box .content p
{
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;

}

.box:hover .content p
{
    opacity: 1;
    transition-delay: 0.5s;
}

footer
{
    display: flex;
    position: relative;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    justify-content: flex-start;
    background-color: gray;
    justify-content: space-between;
    height: auto;
}


 
.bordure
{
 
  width: 100%;
 
}
 
.le_footer 
{
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    margin-right: auto;
    margin-left: auto;
}


 
.Panem 
{
 
    /*background-color: green;*/
    padding: 15px;
 
}
 
.Nous
{
    /*background-color: purple;*/
    padding: 15px;
}
 
.Services 
{
    /*background-color: red;*/
    padding: 15px;
}
 
.Contactez 
{
    /*background-color: yellow;*/
    padding: 15px;
}
 
.Panem,.Nous,.Services, .Contactez
{
    flex: 1; /* partage de largeur dispo par nombre de conteneurs*/
}
 
  
a
{
      text-decoration: none;
      color: black;
      text-align: center;
}


 
/* Pour les titres du footer */
.Panem h2
{
  text-align: center;
  color: black;
}
 
.Nous h2
{
  text-align: center;
  color: black;
}
 
.Services h2
{
  text-align: center;
  color: black;
}
 
.Contactez h2
{
  text-align: center;
  color: black;
}
 
/*Pour le texte*/
.Panem p
{
  text-align: center;
  font-size: 1.3em;
  color: black;
}


 
  
 
/*Pour la navigation de chaque colonne */
.Panem ul
{
  text-align: center;
  list-style: none;
  text-decoration: underline;
  font-size: 1.3em;
}

.Nous ul
{
  text-align: center;
  list-style: none;
  font-size: 1.3em;
}
 
.Services ul
{
  text-align: center;
  list-style: none;
  font-size: 1.3em;
 
}
 
.Contactez ul
{
  text-align: center;
  list-style: none;
  font-size: 1.3em;
 
}
  
 
/*Pour régler la taille des icônes */
 
.le_footer img
  
{
      
      flex: auto;
      width: 10%;
      height: auto;
}


 
/* La police pour "contactez-noous" */
.le_footer .Contactez ul
{
  font-size: 1.3em;
 
}
 
/*Pour le copyright */
 
.le_footer .fin 
{
  
  width: 100%;
  height: auto;
 
}
 
.fin .nom_site h1
{
  font-size: 2em;
  text-align: center;
  color: black;
}
 
.fin .copyright p
{
  font-size: 1em;
  text-align: center;
  color: black;
}
 
/* Pour adapter à l'écran*/
  
@media only screen and (max-width: 768px) 
{
    .Nous {
      width: 50%;
      order: 0;
    }
    .Panem {
      width: 50%;
      
    }
    .Services {
      width: 50%;
    }
 
    .Contactez
    {
      width: 50%;
    }
 
    .Panem,
    .Nous,
    .Services, .Contactez {
      flex: none;
    }
}